.kal-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-bottom: 1px solid #4D5874;
    padding: 10px 20px 10px 20px;
    color: #4D5874;
    letter-spacing: 0.3em;
}

.kal-button-container span {
    padding-top: 5px;
    padding-right: 5px;
}

.kal-button-container:hover {
    background: #FBFBD4;
    border-top: 1px solid #4D5874;
    border-bottom: none;
}
