<kal-panel-form [subTitle]="title">
    <form (ngSubmit)="addObjective()" [formGroup]="objectiveFormGroup" #addContactForm="ngForm">
        <div class="form-item-row">
            <label class="labelFor" for="inputDescription">Description</label>
            <input type="text" formControlName="description" name="description" id="inputDescription"/>
        </div>
        <div class="form-item-row">
            <label class="labelFor" for="inputTags">Tags</label>
            <input type="text" formControlName="tags" name="tags" id="inputTags"/>
        </div>
    </form>
    <div class="panel-action">
        <kal-action [image]="'fa-save'" (click)="addObjective()"></kal-action>
        <kal-action [image]="'fa-trash-o'" (click)="deleteOjective()"></kal-action>
    </div>
</kal-panel-form>


