.one-week-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
    height: 80%;
}

.one-week-item {
    justify-content: space-between;
    width: 24%;
    height: 45%;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid gray;
}

