<div class="one-week-container">
    <div class="one-week-item-container">
        <day-in-one-week *ngFor="let day of oneWeek.days" class="one-week-item" [day]="day" (navigateToMonthClick)="navigateToMonth($event)"
            (navigateToYearClick)="navigateToYear($event)"></day-in-one-week>
    </div>
    <div class="navigation-item">
        <img class="navigation" [src]="'../../../assets/images/chevron-right.svg'" height="20" width="20" (click)="goNext()" />
        <img class="navigation" [src]="'../../../assets/images/chevron-left.svg'" height="20" width="20" (click)="goPrevious()" />
    </div>
</div>
