.view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    /*
    border: 10px solid red;
    height: 100%;
    */
}

.sheet-of-paper-item {
    width: 40%;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.login-panel-item {
    /* width: 100%; */
}

.polaroid-item {
    /*align-self: flex-end;*/
}
