.view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    /*
    border: 10px solid red;
    */
}

.sheet-of-paper-item {
    width: 40%;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.login-panel-item {
    width: 80%;
    align-items: center;
}

.polaroid-item {
    align-items: center;
}
