.login-content {
    display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
    width: 100%;
    height: 100%;
}

.form-content {
	display:flex;
	flex-direction:column;
	background-color: rgba(0, 0, 0, 0.5);
	width:30%;
	min-height:30%;
    padding: 25px;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	color:#e0dada;
	margin-left:auto;
	margin-right:auto;
}

.info {
	padding: 5px 5px;
	margin: 10px 0px;
	text-align:center;
	min-height:45px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.info.error{
	border:1px solid #a90e00;
	background-color: #ff3c41;
	color:#a90e00;
}
.info.good {
	border:1px solid #416d50;
	background-color: #47cf73;
	color:#416d50;
}

input{
	height:35px;
	padding: 5px 5px;
	margin: 10px 0px;
	background-color:#e0dada;
	border:none;
}

button {
	height:40px;
	padding: 5px 5px;
	margin: 10px 0px;
	font-weight:bold;
	background-color:#555;
	border:1px solid white;
	color:#e0dada;
	cursor:pointer;
	font-size:16px;
}

button:hover {
	background-color:white;
	border:1px solid #555;
    color: #555;
}