<div class="navig-panel-container">

    <day-in-carousel-week *ngFor="let day of carouselWeek.days" class="content-item" [day]="day"
                          (navigateToMonthClick)="navigateToMonth($event)"
                          (navigateToYearClick)="navigateToYear($event)"
                          (showDayDetailClick)="showDayDetail(day)">
    </day-in-carousel-week>

    <div class="buttons">
        <button id="prev" (click)="prevWeek()">Prev</button>
        <button id="today" (click)="goToday()">.</button>
        <button id="next" (click)="nextWeek()">Next</button>
    </div>
</div>
