.timeline {

}

.timeline ol {
    width: 100%;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    left: -5px;
    width: 250px;
    height: 3px;
    background: #fd8204;
    bottom: 23px;
    margin-bottom: 200px;
    /*margin-top: 50px;*/
}

.timeline ol li.img {
    /*margin-top: 200px;*/
}

.timeline ol li thumbnail-item {
    position: absolute;
    bottom: 9px;
    z-index: 5;
    left: -8px;
    text-align: center;
    /*!*font-size: 1.3rem;*!*/
    font-size: x-small;
    height: 16px;
    width: 16px;
    /*padding-bottom: 15px;*/
    cursor: pointer;
    /*color: #383838;*/
    /*!* fix bug on Safari - text flickering while timeline translates *!*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    /*border: 1px solid green;*/
}

.timeline ol li div {
    position: absolute;
    bottom: 9px;
    z-index: 5;
    left: -8px;
    text-align: center;
    /*!*font-size: 1.3rem;*!*/
    height: 16px;
    width: 100px;
    /*padding-bottom: 15px;*/
    /*color: #383838;*/
    /*!* fix bug on Safari - text flickering while timeline translates *!*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    /*border: 1px solid green;*/
}
