<div class="view-container">
    <div class="right-container">
        <public-holiday-list class="list-item" [publicHolidays]="publicHolidays"
                             (showHolidayClick)="showPublicHoliday($event)"></public-holiday-list>
        <public-holiday-form class="form-item" [publicHoliday]="publicHolidaySelected"
                             (actionClick)="doActionOnPublicHoliday($event)"></public-holiday-form>
    </div>
    <div class="right-container">
        <contact-holiday-list class="list-item" [contactHolidays]="contactHolidays"
                              (showHolidayClick)="showContactHoliday($event)"></contact-holiday-list>
        <contact-holiday-form class="form-item" [contactHoliday]="contactHolidaySelected"
                              (actionClick)="doActionOnContactHoliday($event)"></contact-holiday-form>
    </div>
</div>
