.view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 99%;
    height: 100%;
    padding: 1em;
}

.list-item {
    height: 100%;
    width: 50%;
}

.right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* item */
    height: 48%;
    width: 100%;
}

.form-item {
    width: 40%;
}

