<contact-detail *ngIf="contactSelected" [fillYear]="fillOnlyYear"
                [contact]="contactSelected | async"
                (closeClick)="close()"></contact-detail>
<event-detail *ngIf="eventSelected"
              [event]="eventSelected | async"
              (closeClick)="close()"></event-detail>
<holiday-detail *ngIf="holidaySelected"
                [holiday]="holidaySelected | async"
                (closeClick)="close()"></holiday-detail>
<budget-detail *ngIf="budgetSelected"
               [budget]="budgetSelected | async"
               (closeClick)="close()"></budget-detail>
