<contact-detail *ngIf="contactSelected" [fillYear]="fillOnlyYear"
                [contact]="contactSelected | async"
                (closeClick)="close()"></contact-detail>
<event-detail *ngIf="eventSelected"
              [event]="eventSelected | async"
              (closeClick)="close()"></event-detail>
<contact-holiday-detail *ngIf="contactHolidaySelected"
                        [contactHoliday]="contactHolidaySelected | async"
                        (closeClick)="close()"></contact-holiday-detail>
<public-holiday-detail *ngIf="publicHolidaySelected"
                       [publicHoliday]="publicHolidaySelected | async"
                       (closeClick)="close()"></public-holiday-detail>
<budget-detail *ngIf="budgetSelected"
               [budget]="budgetSelected | async"
               (closeClick)="close()"></budget-detail>
