<div class="modal-container" [class.closed]="!isOpen">
    <div class="modal-overlay" (click)="close(true)"></div>

    <div class="modal">

        <div *ngIf="dayItem">
            <contact-form *ngIf="dayItem.isContact()" [fillYear]="true"
                          [contact]="contactSelected"
                          (actionClick)="doActionOnContact($event)"></contact-form>
            <event-form *ngIf="dayItem.isEvent()"
                        [event]="eventSelected"
                        (actionClick)="doActionOnEvent($event)"></event-form>
            <contact-holiday-form *ngIf="dayItem.isContactHoliday()"
                                  [contactHoliday]="contactHolidaySelected"
                                  (actionClick)="doActionOnContactHoliday($event)"></contact-holiday-form>
            <public-holiday-form *ngIf="dayItem.isPublicHoliday()"
                                 [publicHoliday]="publicHolidaySelected"
                                 (actionClick)="doActionOnPublicHoliday($event)"></public-holiday-form>
        </div>
    </div>

</div>
