.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--color-green-0);
    /*box-shadow: inset 0 8px 16px -5px black,*/
        /*inset 0 -8px 16px 5px black;*/
    /*box-shadow:*/
        /*inset 0px 5px 1px -5px #ffffff,*/
        /*inset 0px -5px 2px -5px #ffffff;*/
}

.modal {
    width: 100%;
}

.closed .modal {
    display: none;
}

.closed .modal-overlay {
    display: none;
}

