<div class="view-container">
    <catch-all-list class="contact-list-item"
                    [catchAlls]="catchAlls" [title]="principalTagCaseType"
                    (showCatchAllClick)="showCatchAll($event)"></catch-all-list>
    <div class="right-container">
        <catch-all-post-it [tagCaseType]="TagCaseType.ADMINISTRATION"
                           [catchAlls]="catchAllsAdministration"
                           (showDetailClick)="changePrincipalCatchAll($event)"></catch-all-post-it>
        <catch-all-post-it [tagCaseType]="TagCaseType.FAMILY"
                           [catchAlls]="catchAllsFamily"
                           (showDetailClick)="changePrincipalCatchAll($event)"></catch-all-post-it>
        <catch-all-post-it [tagCaseType]="TagCaseType.PROJECT"
                           [catchAlls]="catchAllsProject"
                           (showDetailClick)="changePrincipalCatchAll($event)"></catch-all-post-it>
        <catch-all-post-it [tagCaseType]="TagCaseType.HEALTH"
                           [catchAlls]="catchAllsHealth"
                           (showDetailClick)="changePrincipalCatchAll($event)"></catch-all-post-it>
        <catch-all-post-it [tagCaseType]="TagCaseType.TO_BUY"
                           [catchAlls]="catchAllsToBuy"
                           (showDetailClick)="changePrincipalCatchAll($event)"></catch-all-post-it>
        <catch-all-post-it [tagCaseType]="TagCaseType.THOUGHT_OF_DAY"
                           [catchAlls]="catchAllsThoughtOfDay"
                           (showDetailClick)="changePrincipalCatchAll($event)"></catch-all-post-it>
    </div>
</div>
<catch-all-modal [blocking]="false"></catch-all-modal>
