<div class="view-container">
  <catch-all-list class="contact-list-item"
                  [catchAlls]="catchAlls" [title]="principalTagCaseType"
                  (showCatchAllClick)="showCatchAll($event)"></catch-all-list>
  <div class="right-container">
      <post-it [reference]="'ADMINISTRATION'" (click)="changePrincipalCatchAll('ADMINISTRATION')">
          <div *ngFor="let quote of catchAllsAdministration | async">
              <!--<i class="fa fa-check-square-o"></i>-->
              <i *ngIf="quote.tagCase === 'OBJECTIVE'" class="fa fa-eye"></i>
              <i *ngIf="quote.tagCase === 'TODOs'" class="fa fa-square-o"></i>
              {{quote.description}}
          </div>
      </post-it>
      <post-it [reference]="'FAMILY'" (click)="changePrincipalCatchAll('FAMILY')">
          <div *ngFor="let quote of catchAllsFamily | async">
              <i *ngIf="quote.tagCase === 'OBJECTIVE'" class="fa fa-eye"></i>
              <i *ngIf="quote.tagCase === 'TODOs'" class="fa fa-square-o"></i>
              {{quote.description}}
          </div>
      </post-it>
      <post-it [reference]="'PROJECT'" (click)="changePrincipalCatchAll('PROJECT')">
          <div *ngFor="let quote of catchAllsProject | async">
              <i *ngIf="quote.tagCase === 'OBJECTIVE'" class="fa fa-eye"></i>
              <i *ngIf="quote.tagCase === 'TODOs'" class="fa fa-square-o"></i>
              {{quote.description}}
          </div>
      </post-it>
      <post-it [reference]="'HEALTH'" (click)="changePrincipalCatchAll('HEALTH')">
          <div *ngFor="let quote of catchAllsHealth | async">
              <i *ngIf="quote.tagCase === 'OBJECTIVE'" class="fa fa-eye"></i>
              <i *ngIf="quote.tagCase === 'TODOs'" class="fa fa-square-o"></i>
              {{quote.description}}
          </div>
      </post-it>
  </div>
</div>
<catch-all-modal [blocking]="false"></catch-all-modal>
