.view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 99%;
    height: 100%;
    padding: 1em;
}

.contact-list-item {
	height: 100%;
	width: 40%;
}

.right-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* item */
	height: 100%;
	width: 35%;
}

.contact-form-item {
	width: 80%;
}

.polaroid-item {
	/*align-self: flex-end;*/
}
