<div [ngClass]="{'closed': !isOpen}">
  <div class="modal-overlay" (click)="close(true)"></div>

  <div class="modal">
    <div class="title">
      <span class="title-text">{{ day?.date | date:'EEEE d MMMM yyyy' }}</span>
      <span class="right-align" (click)="close(true)"><i class="material-icons md-24">clear</i></span>
    </div>

    <div class="body">
      <ng-content></ng-content>
      <div class="day-item-detail" *ngFor="let dayItem of day?.dayItems">
        <img *ngIf="dayItem.isContact()" src="../../../assets/images/birthday-cake-with-candle.svg" height="20" width="20" />
        <img *ngIf="dayItem.isLine()" src="../../../assets/images/newspaper.svg" height="20" width="20" />
        <span>{{dayItem.item}}</span>
      </div>
    </div>
  </div>
</div>