<kal-panel-list>
    <h2>Bienvenue sur mon site</h2>
    <p>Je suis développeur d'application voilà bientôt 10 ans pour diverses sociétés.</p>
    <p>Aujourd'hui, mon objectif est de développer une application personnelle.</p>
    <div class="align-right-container">Cliquez sur ce bouton pour pouvoir la découvrir ->
        <kal-button-action [image]="'fa fa-play-circle'" (click)="setDemoLogin()"></kal-button-action>
    </div>
    <p>D'ici peu viendra la possibilité de vous créer un compte, ainsi qu'une gestion de notation du
        site (inutile - autre - a du potentiel).
    </p>
    <p>Bonne visite.</p>
    <div class="signature-item"><h3>Karine</h3></div>
</kal-panel-list>
