.header-item {
    letter-spacing: 1px;
}

.app-item {
    letter-spacing: 0px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.signature-item {
    display: flex;
    justify-content: flex-end;
    color: #bf4040;
    width: 90%;
    margin-top: 2em;
    letter-spacing: 1px;
}
