<kal-panel-list>
    <div class="header-item">
        <h3>Bienvenue sur mon site</h3>
    </div>
    <div class="app-item">Je suis développeur d'application voilà bientôt 10 ans pour diverses sociétés.</div>
    <div class="app-item">Aujourd'hui, mon objectif est de développer une application personnelle.</div>
    <div class="align-right-container">Cliquez sur ce bouton pour pouvoir la découvrir ->
        <kal-button-action [image]="'fa fa-play-circle'" (click)="setDemoLogin()"></kal-button-action>
    </div>
    <div class="app-item">D'ici peu viendra la possibilité de vous créer un compte, ainsi qu'une gestion de notation du
        site (inutile - autre - a du potentiel).
    </div>
    <div class="app-item">Bonne visite.</div>
    <div class="signature-item"><h3>Karine</h3></div>
</kal-panel-list>
