<div class="month-container" (click)="navigateToMonth()">

    <div class="item-title">
        {{ month.date | date:'MMMM yyyy' }}
    </div>
    <div class="group-container">
        <div *ngFor="let m of month.budgetByGroups | async">
            <div class="budget-type-item">
                <div>{{ m.budgetType }}</div>
                <div>{{ m.amount | number: '1.2' }}</div>
            </div>
            <div *ngFor="let d of m.detail">
                <div class="detail-item">
                    <div>{{ d.description }}</div>
                    <div>{{ d.budget | number: '1.2'}}</div></div>
            </div>
        </div>
    </div>
</div>
