<div class="day-container" *ngIf="!day.isDisabled" [class.day-selected]="day.isSelected">
    <div class="group-container">
        <div class="day-item-title">
            <div>{{ firstCharToUpperCase(day.date | date:'EEEE') }}</div>
            <div class="day-item-title-header">
                <div class="day-item-select" (click)="navigateToMonth()">
                    {{ day.date | date:'d MMMM yyyy' }}
                </div>
            </div>
        </div>
        <kal-panel-list-row class="day-item-detail-list"
                            *ngFor="let dayItem of day.dayItems"
                            [image]="dayItem.isContact() ? '../assets/images/birthday-cake-with-candle.svg' : '../assets/images/newspaper.svg'"
                            [description]="dayItem.principalItem + (dayItem.additionalItem ? ' ' + dayItem.additionalItem : '')"
                            (editItemClick)="showDayItem(dayItem)"></kal-panel-list-row>
        <div class="row-container-add-item">
            <div class="description-item">Ajouter un contact</div>
            <kal-button-action [image]="'fa fa-plus'"
                               (click)="addDayItemContact()"></kal-button-action>
        </div>
        <div class="row-container-add-item">
            <div class="description-item">Ajouter un événement</div>
            <kal-button-action [image]="'fa fa-plus'"
                               (click)="addDayItemMemo()"></kal-button-action>
        </div>
    </div>
    <div class="group-container margin-bottom">
        <div class="row-container-add-item">
            <div class="description-item">Ajouter un jour de congé</div>
            <kal-button-action [image]="'fa fa-plus'"
                               (click)="addDayItemContactHoliday()"></kal-button-action>
        </div>
        <kal-panel-list-row class="day-item-info contact-holiday"
                            *ngFor="let dayContactHolidayItem of day.dayContactHolidayItems"
                            [image]="'../assets/images/sunbed.svg'"
                            [description]="dayContactHolidayItem.principalItem"
                            (editItemClick)="showDayItem(dayContactHolidayItem)"></kal-panel-list-row>
        <div class="row-container-add-item"
             *ngIf="!day.dayPublicHolidayItem">
            <div class="description-item">Ajouter un jour férié</div>
            <kal-button-action [image]="'fa fa-plus'"
                               (click)="addDayItemPublicHoliday()"></kal-button-action>
        </div>
        <div class="day-item-info-list-one-row">
            <div></div>
            <kal-panel-list-row class="day-item-info public-holiday"
                                *ngIf="day.dayPublicHolidayItem"
                                [image]="'../assets/images/sunbed.svg'"
                                [description]="day.dayPublicHolidayItem.principalItem"
                                (editItemClick)="showDayItem(day.dayPublicHolidayItem)"></kal-panel-list-row>
            <div class="day-item-info" *ngIf="day.isWeekend" [class.weekend]="day.isWeekend">
                Week-end
            </div>
            <div class="day-item-info" *ngIf="day.isToday" [class.today]="day.isToday">
                Today
            </div>
        </div>
    </div>
</div>
