.day-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    height: 95%;
    padding: 0 1em 0 1em;
    background-color: #fff;
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.group-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.day-item-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #4D5874;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    font-weight: bold;
}

.day-item-title .day-item-select {
    cursor: pointer;
    border-bottom: 1px solid #4D5874;
    padding: 10px 10px 10px 10px;
}

.day-item-title .day-item-select:hover {
    background: #FBFBD4;
    border-top: 1px solid #4D5874;
    border-bottom: none;
}

.day-item-title-header {
    display: flex;
}

.day-item-detail-list {
    width: 100%;
}

.margin-bottom {
    margin-bottom: 12px;
}

.day-item-info-list-one-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.day-item-info {
    width: 100%;
    margin-top: 2px;
}

.contact-holiday {
    background: #9198A9;
    color: white;
    text-align: center;
}

.public-holiday {
    background: #4D5874;
    color: white;
    text-align: center;
}

.today {
    padding: 5px 0 5px 0;
    background: #AD6B6B;
    color: white;
    text-align: center;
}

.weekend {
    padding: 5px 0 5px 0;
    background: #4D5874;
    color: white;
    text-align: center;
}

.row-container-add-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.description-item {
    padding-top: 0.5em;
    text-indent: 1.5em;
}
