<div class="day-container" *ngIf="!day.isDisabled" [class.day-selected]="day.isSelected">
    <div class="day-item-title">
        <div>{{ firstCharToUpperCase(day.date | date:'EEEE') }}</div>
        <div class="day-item-title-header">
            <div class="day-item-select" (click)="navigateToMonth()">
                {{ day.date | date:'d MMMM yyyy' }}
            </div>
        </div>
    </div>
    <div class="day-item-detail-list">
        <kal-panel-list-row *ngFor="let dayItem of day.dayItems"
                            [image]="dayItem.isContact() ? '../assets/images/birthday-cake-with-candle.svg' : '../assets/images/newspaper.svg'"
                            [description]="dayItem.item"
                            (editItemClick)="showDayItem(dayItem)"></kal-panel-list-row>
    </div>
    <div class="day-item-contactholiday" *ngFor="let dayContactHolidayItem of day.dayContactHolidayItems">
        {{ dayContactHolidayItem.item }}
    </div>
    <div class="day-item-action">
        <div></div>
        <div class="day-item-info" *ngIf="day.dayPublicHolidayItem" [class.weekend]="day.dayPublicHolidayItem">
            {{ day.dayPublicHolidayItem.item }}
        </div>
        <div class="day-item-info" *ngIf="day.isWeekend" [class.weekend]="day.isWeekend">
            Week-end
        </div>
        <div class="day-item-info" *ngIf="day.isToday" [class.today]="day.isToday">
            Today
        </div>
    </div>
</div>
