.login-container {
    display: flex;
    flex-direction: column;
    background-color: #555555;
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 2em 1em 2em;
    border-radius: 0.3em;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.title-form {
    font-size: 3em;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: bold;
    color: rgba(253, 95, 0, 0.8);
    text-shadow: 1px 4px 6px #555555, 0 0 0 #000, 1px 4px 6px #555555;
    line-height: 1.5;
}

input {
    height: 30px;
    background-color: #e0dada;
    border: none;
    margin-bottom: 10px;
}


.error {
    color: red;
}

.action-row-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

input
{
border-radius:5px;
background: #333333;
width:85%;
padding:0.5em 2em 0.5em 2em;
font-size: medium;
border:none;
color:#929999;                       
box-shadow:inset 0px 1px 5px #272727;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease; 
}

input:focus
{
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;  
box-shadow: 0px 0px 5px 1px #161718;
}
