<div class="login-container">
    <form class="form-container" (ngSubmit)="login()" [formGroup]="loginFormGroup" #loginForm="ngForm">
        <div class="title-form">Login</div>
        <span class="error" *ngIf="loginError">{{ loginError }}</span>
        <input type="text" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Password" formControlName="password" />
    </form>
    <div class="action-row-item">
        <svg-login (click)="login()"></svg-login>
    </div>
</div>

<!--
<div *ngIf="userFounded; else loading">
  userFounded...
</div>
<ng-template #loading>Loading...</ng-template>
-->