<div class="modal-container" [class.closed]="!isOpen">
    <div class="modal-overlay" (click)="close(true)"></div>

    <div class="modal">

        <div class="kal-polaroid-container" *ngIf="date">
            <img class="image-item" id="img-item-id"/>
            <div class="row-container" *ngIf="!isModified">
                <input class="label-item" type="text" [value]="label" id="input-id"
                       (change)="onInputChange($event)"/>
                <kal-action [image]="'fa-save'" (click)="modifyLabel()"></kal-action>
            </div>
        </div>
    </div>

</div>
