<div class="modal-container" [class.closed]="!isOpen">
    <div class="modal-overlay" (click)="close(true)"></div>

    <div class="modal">

        <div class="kal-polaroid-container" *ngIf="day">
            <img class="image-item" id="img-item-id"/>
            <div class="input-row" *ngIf="!isModified">
                <input class="label-item" type="text" [value]="label" id="input-id"
                       (change)="onInputChange($event)"/>
                <svg-save (click)="modifyLabel()"></svg-save>
            </div>
        </div>
    </div>

</div>
