<div [class.closed]="!isOpen">
    <div class="modal-overlay" (click)="close(true)"></div>

    <div class="modal">

        <kal-panel-list [title]="day?.date | date:'EEE d MMMM yyyy'">
            <kal-panel-list-row *ngFor="let dayItem of day?.dayItems"
                                [image]="dayItem.isContact() ? '../assets/images/user_male.svg' : '../../../../assets/images/newspaper.svg'"
                                [description]="dayItem.principalItem"
                                (editItemClick)="selectDayItem(dayItem)"></kal-panel-list-row>
        </kal-panel-list>

        <memo-criteria-form class="memo-form-item" [memoCriteria]="memoCriteriaSelected"
                            (actionClick)="doActionOnMemo($event)"></memo-criteria-form>
    </div>

</div>
