<div [class.closed]="!isOpen">
    <div class="modal-overlay" (click)="close(true)"></div>

    <div class="modal">
        <div class="title">
            <span class="title-text">{{ day?.date | date:'EEEE d MMMM yyyy' }}</span>
            <span class="right-align" (click)="close(true)">close</span>
        </div>

        <div class="body">
            <div *ngFor="let dayItem of day?.dayItems" (click)="selectDayItem(dayItem)">
                <img *ngIf="dayItem.isContact()" src="../../../../assets/images/birthday-cake-with-candle.svg"
                     height="20"
                     width="20"/>
                <img *ngIf="dayItem.isLine()" src="../../../../assets/images/newspaper.svg" height="20" width="20"/>
                <span>{{dayItem.item}}</span>
            </div>
            <line-criteria-form class="line-form-item" [lineCriteria]="lineCriteriaSelected" (actionClick)="doActionOnLine($event)"></line-criteria-form>
        </div>
        
    </div>

</div>
