
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.closed {
  .modal{
    top: -80%;
  }
  .modal-overlay{
    display: none;
  }
}

.modal {
  left: calc(50% - 300px);
  max-height: calc(100% - 10em);
  overflow-y: auto;
  position: fixed;
  top: 10em;
  width: 600px;
  z-index: 1100;
  transition: all .5s ease;
}
