<div class="view-container">
    <div class="carousel-container">
        <div class="carousel-week-item">
            <carousel-budget [carouselBudget]="carouselBudget"
                             [navigation]="'month'"
                             (navigateClick)="navigate($event)"
                             (showDayItemClick)="showDayItem($event)">
            </carousel-budget>
        </div>
    </div>
    <div class="post-it-container">
        <post-it [reference]="'A acheter'">
            <div *ngFor="let itemToBuy of budgetToBuy | async">
                <i class="fa fa-money"></i>{{itemToBuy.description}}
            </div>
        </post-it>
    </div>
</div>
