<kal-panel-list [title]="title">

    <div class="row-container" *ngFor="let catchAll of catchAlls | async">
        <div class="icon-item">
            <i *ngIf="catchAll.tagCase === 'OBJECTIVE'" class="fa fa-eye fa-border"></i>
            <i *ngIf="catchAll.tagCase === 'TODOs'" class="fa fa-square-o fa-border"></i>
        </div>
        <!--<div class="description-item">{{ catchAll.tagCaseType }}</div>-->
        <div class="description-item">{{ catchAll.description }}</div>
        <div class="descriptionDate-item">{{ catchAll.deadline | date}}</div>

        <edit-icon-action *ngIf="catchAll.tagCase === 'OBJECTIVE'"
                          class="action"
                          [tooltip]="'Modifier un objectif'"
                          [image]="'fa-eye'" (click)="showCatchAll(catchAll)"></edit-icon-action>
        <edit-icon-action *ngIf="catchAll.tagCase === 'TODOs'"
                          class="action"
                          [tooltip]="'Modifier un todo list'"
                          [image]="'fa-square-o'" (click)="showCatchAll(catchAll)"></edit-icon-action>
    </div>

    <div class="row-container-add-item">

        <plus-icon-action class="action"
                          [tooltip]="'Ajouter un objectif'"
                          [image]="'fa-eye'" (click)="addCatchObjective()"></plus-icon-action>
        <plus-icon-action class="action"
                          [tooltip]="'Ajouter un todo'"
                          [image]="'fa-square-o'" (click)="addCatchTodo()"></plus-icon-action>
    </div>

</kal-panel-list>
