<div>
    <h5> {{ this.contact.birthdate | date: 'd MMMM' }}</h5>
    <h1>Contact</h1>
    <form (ngSubmit)="addContact()" [formGroup]="contactFormGroup" #addContactForm="ngForm">

        <div class="col-3 input-effect">
            <input class="effect-16 has-content" type="text" placeholder=""
                   formControlName="firstname" name="firstname" id="inputFirstname">
            <label for="inputFirstname">Prénom</label>
            <span class="focus-border"></span>
        </div>
        <div class="col-3 input-effect">
            <input class="effect-16 has-content" type="text" placeholder=""
                   formControlName="lastname" name="lastname" id="inputLastname">
            <label for="inputLastname">Nom</label>
            <span class="focus-border"></span>
        </div>

        <div class="col-3 input-effect">
            <input class="effect-16 has-content" type="text" placeholder=""
                   formControlName="year" name="year" id="inputYear">
            <label for="inputYear">Année de naissance</label>
            <!--{{this.dateUtilService.stringToDayAndLongMonth(this.contact.birthdate)}}-->
            <span class="focus-border"></span>
        </div>
        <!--<div *ngIf="!fillYear">-->
            <!--<label class="labelFor" for="inputBirthdate">Birthdate</label>-->
            <!--<input type="text" formControlName="birthdate" name="birthdate" id="inputBirthdate"/>-->
        <!--</div>-->

    </form>
    <div class="panel-action">
        <kal-action [image]="'fa-save'" (click)="addContact()"></kal-action>
        <kal-action [image]="'fa-trash-o'" (click)="deleteContact()"></kal-action>
    </div>
</div>


