<objective-detail class="contact-card edit-mode" [objective]="objective" *ngIf="editMode && !objectiveItemSelected"
                  (closeClick)="close()"></objective-detail>
<objective-item-detail class="contact-card edit-mode" [objectiveItem]="objectiveItemSelected"
                       [objectiveKey]="objectiveKeySelected"
                       *ngIf="editMode && objectiveItemSelected" (closeClick)="close()"></objective-item-detail>
<div class="contact-card" *ngIf="!editMode">
    <div class="row-container">
        <h3>{{ objective.description }}</h3>
        <p>
            <edit-action class="action"
                         [tooltip]="'Modifier un objectif'"
                         (click)="showObjective()"></edit-action>
        </p>
    </div>
    <ul>
        <li *ngFor="let item of objective.items">
            <div class="row-container">
                <div class="description-item">{{ item.description }} - {{ item.tagType }}</div>
                <edit-action class="action"
                             [tooltip]="'Modifier'"
                             (click)="showObjectiveItem(item)"></edit-action>
            </div>
        </li>
        <li>
            <plus-action class="action"
                         [tooltip]="'Ajouter un élément'"
                         (click)="addObjectiveItem()"></plus-action>
        </li>
    </ul>
</div>
