<objective-detail class="contact-card edit-mode" [objective]="objective" *ngIf="editMode && !objectiveItemSelected"
                  (closeClick)="close()"></objective-detail>
<objective-item-detail class="contact-card edit-mode" [objectiveItem]="objectiveItemSelected"
                       [objectiveKey]="objectiveKeySelected"
                       *ngIf="editMode && objectiveItemSelected" (closeClick)="close()"></objective-item-detail>
<div class="contact-card" *ngIf="!editMode">
    <div class="row-container">
        <h3>{{ objective.description }}</h3>
        <p>
            <edit-action class="action"
                         [tooltip]="'Modifier un objectif'"
                         (click)="showObjective()"></edit-action>
        </p>
    </div>

    <timeline *ngFor="let item of objective.items" [objective]="item.description" [tag]="item.tagType" [oiKey]="item['$key']"
              (showObjectiveClick)="showObjectiveItem(item)"></timeline>
    <plus-action class="action"
                 [tooltip]="'Ajouter un élément'"
                 (click)="addObjectiveItem()"></plus-action>
</div>
