<div class="objective-container" *ngFor="let item of items | async">
    <div class="row-container">
        <div class="icon-item">
            <!--<img [src]="'../assets/images/user_male.svg'" height="20" width="20">-->
        </div>
        <div class="description-item">{{ item.description }}</div>
        <div class="descriptionDate-item">{{ item.tags }}</div>
        <edit-action class="action"
                     [tooltip]="'Modifier un objectif'"
                     (click)="showItem(item)"></edit-action>
    </div>
    <div>
        <div class="row-container" *ngFor="let todo of item.todos">
            <div class="description-item">{{ todo.description }} - {{ todo.todoType }}</div>
            <edit-action class="action"
                         [tooltip]="'Modifier un objectif'"
                         (click)="showItem(item)"></edit-action>
        </div>
        <plus-action class="action"
                     [tooltip]="'Ajouter un todo'"
                     (click)="addItem()"></plus-action>
    </div>
</div>
<div class="objective-container">
    <div class="row-container-add-item">
        <plus-action class="action"
                     [tooltip]="'Ajouter un objectif'"
                     (click)="addItem()"></plus-action>
    </div>
</div>

