<div class="objective-card-container">
    <objective-detail class="contact-card edit-mode" [objective]="objectiveSelected" *ngIf="objectiveSelected"
                      (closeClick)="close()"></objective-detail>
    <objective-list-row [objective]="objective" *ngFor="let objective of objectives | async"
                        (showObjectiveClick)="showObjective($event)"></objective-list-row>
    <div class="align-right-container">
        <plus-action class="action"
                     [tooltip]="'Ajouter un objectif'"
                     (click)="addObjective()"></plus-action>
    </div>
</div>
