.objective-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em 0 1em;
}

.action {
    padding-right: 1em;
}

.description-item {
    flex: 1;
    padding-top: 0.5em;
    text-indent: 1.5em;
}

.descriptionDate-item {
    padding-top: 0.5em;
    padding-right: 1em;
}
