<div class="home-view-container">
    <carousel-week class="one-week-item" [carouselWeek]="carouselWeek"
                   [navigation]="'day'"
                   (navigateClick)="navigate($event)"
                   (showDayItemClick)="showDayItem($event)"></carousel-week>
    <div class="other-container">
        <div></div>

        <post-it *ngFor="let quote of quotes" [reference]="quote.author" (closed)="log(quote.id)">
            {{quote.text}}
        </post-it>
        <div class="todo-container">
            <ul>
                <li>Prendre courrier</li>
                <li>Payer Facture</li>
                <li>Developper carousel</li>
            </ul>
        </div>
        <!--<kal-polaroid [label]="'test'" [image]="'../../../../assets/images/photo/IMG_elsa2.jpg'"></kal-polaroid>-->
        <week-image class="polaroid-container" *ngIf="carouselWeek.dateSelected"
                    [date]="carouselWeek.dateSelected"
                    (showImageClick)="showImage(carouselWeek.dateSelected)"></week-image>
        <div></div>
    </div>
</div>
<core-modal [blocking]=false></core-modal>
<image-modal [blocking]=false></image-modal>
