.kal-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-bottom: 1px solid #4D5874;
    padding: 10px 15px 10px 15px;
    letter-spacing: 0.15em;
}

.kal-button-container span {
    padding-top: 3px;
    padding-right: 5px;
    font-size: 1.1em;
}

.kal-button-container:hover {
    background: #FBFBD4;
    border-top: 1px solid #4D5874;
    border-bottom: none;
}

.kal-button-container.selected {
    border-bottom: 1px solid #AD6B6B;
}

.kal-button-container.selected:hover {
    background: none;
    border-top: none;
    cursor: default;
}

i {
    font-size: x-large;
}
