.day-in-year-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 99%;
    border-radius: 25px;
    padding: 0.2em 0 0.2em 0;
}

.day-in-year-container.day-disabled {
    display: none;
}

.day-in-year-container.day-selected {
    box-shadow: inset 0 8px 16px -5px black;
}
