.top-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
    padding: 25px;
}

.menu-option {
    border-radius: 3px;
	background-color:#555;
	border:1px solid white;
    color: white;
    cursor: pointer;
    width: 20%;
    padding: 10px;
    text-align: center;
}

.menu-option:hover {
	background-color:white;
	border:1px solid #555;
    color: #555;
}