<div class="top-menu-container">
    <div class="action-container">
        <kal-button [image]="'../../../assets/images/users.svg'" (onClick)="navigateToContacts()"></kal-button>
        <kal-button [image]="'../../../assets/images/newspaper.svg'" (onClick)="navigateToLines()"></kal-button>
    </div>
    <div>
        <img class="navigation" [src]="'../../../assets/images/chevron-left.svg'" height="20" width="20"
             (click)="goPrevious()"/>
        <img class="navigation" [src]="'../../../assets/images/chevron-right.svg'" height="20" width="20"
             (click)="goNext()"/>
    </div>
</div>
