.top-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
	background-color: rgba(0, 0, 0, 0.7);
    padding: 25px;
}

img {
    padding: 10px;
    margin: 10px;
}

img.navigation {
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 8px 16px -5px black;
    background: rgb(214, 214, 194);
}
img.navigation:hover {
    background: grey;
}

img.menu {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border:1px solid white;
    box-shadow: 0 8px 16px -5px black;
    background: grey;
}
img.menu:hover {
    background: black;
}