.day-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.day-item-title {
    align-items: center;
}

.day-item-title h4 {
    border-radius: 25px;
    border: 1px solid gray;
    padding: 2px 20px 2px 20px;
    margin: 15px 10px 20px 10px;
    box-shadow: 0 8px 16px -5px black;
    background: rgb(214, 214, 194);
    cursor: default;
}

.day-item-info {
  margin-top: 15px;
  width: 100%;
}