<div class="view-container">
    <contact-list class="contact-list-item" [contacts]="contacts"
                  (showContactClick)="showContact($event)"></contact-list>
    <div class="right-container">
        <div class="post-it-container">
            <birthday-post-it *ngFor="let contact of postItContacts | async"
                              [contact]="contact"></birthday-post-it>
        </div>
        <kal-polaroid [label]="'ToDo load image by contact'"
                      [image]="'../../../assets/images/photo/IMG_yoga.jpg'"></kal-polaroid>
    </div>
</div>
<core-modal [blocking]=false></core-modal>
