<div class="row-container">
    <div class="icon-item"><img [src]="image" height="20" width="20"></div>
    <div class="description-item">{{ description }}</div>
    <div class="descriptionDate-item">{{ descriptionDate | date}}</div>
    <kal-button-action [image]="'../../../../assets/images/edit.svg'" (click)="editItem()"></kal-button-action>
</div>

<!--<div class="memo-item" *ngFor="let contact of contacts | async" (click)="showContact(contact)">-->
    <!--<div>-->
        <!--<img src="../assets/images/user_male.svg" height="20" width="20">-->
        <!--{{contact.firstname}} {{contact.lastname}}-->
    <!--</div>-->
    <!--<div>-->
        <!--{{contact.birthdate | date}}-->
    <!--</div>-->
<!--</div>-->
