<div class="select-date-content">
    <div (click)="changeNavigation('month')" class="label month" [class.nav-selected]="navigation === 'month'">
        {{ date | date: 'MMMM' }}
    </div>
    <div (click)="changeNavigation('year')" class="label" [class.nav-selected]="navigation === 'year'">
        {{ date | date: 'y' }}
    </div>
    <img class="navigation" [src]="'../../../assets/images/chevron-left.svg'" height="20" width="20"
         (click)="goPrevious()"/>
    <img class="navigation" [src]="'../../../assets/images/chevron-right.svg'" height="20" width="20"
         (click)="goNext()"/>
</div>
