<div *ngFor="let one of oneTimelines | async">
    {{ one.description }} -
    <div *ngFor="let obj of one.objectiveLines">
        <div class="objective-container">
            <b>{{ obj.description }}</b>
            <div *ngFor="let m of obj.monthLines">
                <div class="month-row-container">
                    <div class="month-value-item">{{ m.date | date: 'MMMM yyyy' }}</div>
                    <div *ngFor="let d of m.dayOfLines">
                        <div class="day-line-item" [class.done]="d.status === 'DONE'" [class.not-done]="d.status === 'NOT_DONE'">{{ d.day }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
