.objective-container {
    padding-top: 1em;
}

.month-row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.month-value-item {
    width: 10em;
    text-align: center;
    border: 0.1em solid black;
}
.day-line-item {
    width: 1.5em;
    text-align: center;
    border: 0.1em solid black;
}

.done {
    background-color: green;
}
.not-done {
    background-color: red;
}
