.day-view-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 99%;
    height: 100%;
    padding: 1em;
}

.day-item {
    align-items: center;
    height: 100%;
    width: 100%;
}

.actions-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.forms-item {
    margin-top: 1em;
}
