<div class="day-view-content">
    <one-day class="day-item" [day]="day"
             (navigateClick)="navigate($event)">
        <div>
            <div class="actions-item">
                <kal-button-menu [image]="'../../../assets/images/users.svg'"
                                 (click)="editContact()"></kal-button-menu>
                <contact-form *ngIf="contactSelected"></contact-form>
                <kal-button-menu [image]="'../../../assets/images/newspaper.svg'"
                                 (click)="editMemos()"></kal-button-menu>
                <memo-criteria-form *ngIf="memoSelected" [memoCriteria]="memoCriteriaSelected"
                                    (actionClick)="doActionOnMemo($event)"></memo-criteria-form>
                <kal-button-menu [image]="'../../../assets/images/sunbed.svg'"
                                 (click)="editHolidays()"></kal-button-menu>
                <public-holiday-form *ngIf="holidaySelected"></public-holiday-form>
                <contact-holiday-form *ngIf="holidaySelected"></contact-holiday-form>
            </div>
        </div>
    </one-day>
</div>
