<div class="day-view-content">
    <one-day class="day-item" [day]="day"
             (navigateClick)="navigate($event)"
             (showDayItemClick)="showDayItem($event)">
        <div>
            <div class="actions-item">
                <kal-button-menu [image]="'../../../assets/images/users.svg'"
                                 [label]="'Contact'"
                                 (click)="editContact()"></kal-button-menu>
                <contact-form *ngIf="isContactSelected"
                              [contact]="contactSelected"
                              (actionClick)="doActionOnContact($event)"></contact-form>
                <kal-button-menu [image]="'../../../assets/images/newspaper.svg'"
                                 [label]="'Memo'"
                                 (click)="editMemos()"></kal-button-menu>
                <memo-criteria-form *ngIf="isMemoSelected"
                                    [memoCriteria]="memoCriteriaSelected"
                                    (actionClick)="doActionOnMemo($event)"></memo-criteria-form>
                <kal-button-menu [image]="'../../../assets/images/sunbed.svg'"
                                 [label]="'Contact Holiday'"
                                 (click)="editContactHolidays()"></kal-button-menu>
                <contact-holiday-form *ngIf="isContactHolidaySelected"
                                      [contactHoliday]="contactHolidaySelected"
                                      (actionClick)="doActionOnContactHoliday($event)"></contact-holiday-form>
                <kal-button-menu [image]="'../../../assets/images/sunbed.svg'"
                                 [label]="'Public Holiday'"
                                 (click)="editPublicHolidays()"></kal-button-menu>
                <public-holiday-form *ngIf="isPublicHolidaySelected"
                                     [publicHoliday]="publicHolidaySelected"
                                     (actionClick)="doActionOnPublicHoliday($event)"></public-holiday-form>
            </div>
        </div>
    </one-day>
</div>
