.kal-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width:100%;
}

.kal-header-item {
    align-items: center;
    display: flex;
    margin: 10px;
}