<div class="kal-app" [class.kal-app-header]="authService.authenticated">
    <div class="kal-header" *ngIf="authService.authenticated">
        <kal-logo></kal-logo>
        <div class="kal-header-item">
            <kal-button-menu [image]="'../../../assets/images/home.svg'"
                             [selected]="routerService.isHomeViewSelected()"
                             (click)="routerService.navigateToHome()"></kal-button-menu>
            <kal-button-menu [image]="'../../../assets/images/users.svg'"
                             [selected]="routerService.isContactsViewSelected()"
                             (click)="routerService.navigateToContacts()"></kal-button-menu>
            <!--<kal-button-menu [image]="'../../../assets/images/newspaper.svg'"-->
                             <!--[selected]="routerService.isMemosViewSelected()"-->
                             <!--(click)="routerService.navigateToMemos()"></kal-button-menu>-->
            <!--<kal-button-menu [image]="'../../../assets/images/sunbed.svg'"-->
                             <!--[selected]="routerService.isHolidaysViewSelected()"-->
                             <!--(click)="routerService.navigateToHolidays()"></kal-button-menu>-->
            <!--<kal-button-menu [image]="'../../../assets/images/month-calendar.svg'"-->
                             <!--[selected]="routerService.isKalYearViewSelected()"-->
                             <!--(click)="navigateToKalYear()"></kal-button-menu>-->
            <kal-button-menu [label]="(user | async)?.displayName" [image]="'../../../assets/images/logout.svg'"
                             (click)="authService.signOut()"></kal-button-menu>
        </div>
    </div>
    <div class="kal-body">
        <router-outlet></router-outlet>
    </div>
</div>
