<div class="kal-app" [class.kal-app-header]="authService.authenticated">
    <div class="kal-header" *ngIf="authService.authenticated">
        <kal-logo></kal-logo>
        <div class="kal-header-item">
            <kal-button [image]="'../../../assets/images/users.svg'"
                        (onClick)="authService.navigateToContacts()"></kal-button>
            <kal-button [image]="'../../../assets/images/newspaper.svg'"
                        (onClick)="authService.navigateToLines()"></kal-button>
            <kal-button [label]="(user | async)?.displayName" [image]="'../../../assets/images/logout.svg'"
                        (onClick)="authService.signOut()"></kal-button>
        </div>
    </div>
    <div class="kal-body">
        <router-outlet></router-outlet>
    </div>
</div>
