.kal-polaroid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 1px 1px 1px;
    background: white;
    margin: 5px;
    /*min-height: 100px;*/
    min-width: 205px;
}
