/* https://codepen.io/dobladov/pen/kXAXJx */

.navig-panel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

month-in-carousel-budget {
    position: absolute;
    transition: width 1s, height 2s, left 1s, opacity 1s, z-index 0s;
}

month-in-carousel-budget:nth-child(1) {
   display: none;
}
month-in-carousel-budget:nth-child(2) {
    zoom: 0.7;
    width: 16%;
    height: 90%;
    top: 2em;
    left: 0;
    z-index: 4;
    opacity: 0.96;
}
month-in-carousel-budget:nth-child(3) {
    zoom: 0.8;
    width: 18%;
    height: 95%;
    top: 1em;
    left: 12%;
    z-index: 5;
    opacity: 0.98;
}
/* Selected */
month-in-carousel-budget:nth-child(4) {
    zoom: 1;
    width: 25%;
    height: 100%;
    top: 0em;
    left: 24%;
    z-index: 10;
}
month-in-carousel-budget:nth-child(5) {
    zoom: 0.8;
    width: 18%;
    height: 95%;
    top: 1em;
    left: 46%;
    z-index: 5;
    opacity: 0.98;
}
month-in-carousel-budget:nth-child(6) {
    zoom: 0.7;
    width: 16%;
    height: 90%;
    top: 2em;
    left: 62%;
    z-index: 4;
    opacity: 0.96;
}
month-in-carousel-budget:nth-child(7) {
    zoom: 0.6;
    width: 14%;
    height: 85%;
    top: 3em;
    left: 76%;
    z-index: 3;
    opacity: 0.94;
}
month-in-carousel-budget:nth-child(8) {
    zoom: 0.5;
    width: 12%;
    height: 80%;
    top: 4em;
    left: 88%;
    z-index: 2;
    opacity: 0.92;
}
