<kal-panel-list [title]="'Contacts'">
    <kal-panel-list-row *ngFor="let contact of contacts | async"
                        [image]="'../assets/images/user_male.svg'"
                        [description]="contact.firstname + ' ' + contact.lastname"
                        [descriptionDate]="contact.birthdate"
                        (editItemClick)="showContact(contact)"></kal-panel-list-row>
    <div class="row-container-add-item">
        <div class="description-item">Ajouter un contact</div>
        <kal-button-action [image]="'fa fa-plus'"
                           (click)="addContact()"></kal-button-action>
    </div>

</kal-panel-list>
