.row-container-add-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row-container:hover {
    font-size: large;
}

.description-item {
    flex: 1;
    padding-top: 0.5em;
}

.descriptionDate-item {
    padding-top: 0.5em;
    padding-right: 1em;
}
