<div class="contact-card-container">
    <contact-detail class="contact-card edit-mode" [contact]="contactSelected | async" *ngIf="contactSelected"
                    [fillYear]="false" (closeClick)="close()"></contact-detail>
    <contact-list-row [contact]="contact" *ngFor="let contact of contacts | async"
                      (showContactClick)="showContact($event)"></contact-list-row>
    <div class="align-right-container">
        <plus-action [tooltip]="'Ajouter un contact'"
                     (click)="addContact()"></plus-action>
    </div>
</div>
