<kal-panel-list [title]="'Contacts'">

    <div class="row-container" *ngFor="let contact of contacts | async">
        <div class="description-item">{{ contact.firstname + ' ' + contact.lastname }}</div>
        <div class="descriptionDate-item">{{ contact.birthdate | date}}</div>

        <edit-action class="action"
                     [tooltip]="'Modifier un contact'"
                     (click)="showContact(contact)"></edit-action>
    </div>

    <div class="align-right-container">
        <plus-action [tooltip]="'Ajouter un contact'"
                     (click)="addContact()"></plus-action>
    </div>

</kal-panel-list>
