.home-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.one-week-item {
    align-items: center;
    background-color: white;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
}
