.home-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.one-week-item {
    align-items: center;

    height: 95%;
    width: 95%;
}
