.one-month-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    /*
    border: 1px solid red;
    */
}

.navigation-item {
    display: flex;
    flex-direction: column;
}

.one-month-item-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
}

.one-month-item {
    justify-content: space-between;
    width: 14%;
    min-height: 12%;
}
