<kal-panel-form [subTitle]="title">
    <form (ngSubmit)="addBudget()" [formGroup]="budgetFormGroup" #addContactForm="ngForm">
        <div class="row-container">
            <label class="labelFor">Au</label>
            <label> {{ budget.kalendarDate | date: 'EEEE dd MMMM yyyy' }}</label>
        </div>
        <div class="row-container">
            <div class="labelFor" *ngFor="let name of optionTypes">
                <label><input type="radio" [value]="name" formControlName="tagType">{{name}}</label>
            </div>
        </div>
        <div class="row-container">
            <label class="labelFor" for="inputDescription">Description</label>
            <input type="text" formControlName="description" name="description" id="inputDescription"/>
        </div>
        <div class="row-container">
            <label class="labelFor" for="inputAmount">Amount</label>
            <input type="number" formControlName="amount" name="amount" id="inputAmount"/>
        </div>
    </form>
    <div class="panel-action">
        <kal-action [image]="'fa-save'" (click)="addBudget()"></kal-action>
        <kal-action [image]="'fa-trash-o'" (click)="deleteBudget()"></kal-action>
    </div>
</kal-panel-form>


