.day-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: left;
    width: 90%;
    height: 100%;
    padding-left: 1em;
}


.today {
    width: 100%;
    background: rgb(122, 122, 82);
}

.day-item-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #4D5874;
}

.day-item-title h4 {
    cursor: pointer;
    border-bottom: 1px solid #4D5874;
    padding: 10px 20px 10px 20px;
}

.day-item-title h4:hover {
    background: #FBFBD4;
    border-top: 1px solid #4D5874;
    border-bottom: none;
}

.day-item-title-header {
    display: flex;
}

.day-item-info-list {
    height: 100%;
}

.day-item-info {
    margin-top: 15px;
    width: 100%;
}
