.day-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: left;
    width: 90%;
    height: 100%;
    padding-left: 0.9em;
}

.today {
    width: 100%;
    background: #AD6B6B;
    color: white;
    text-align: center;
    font-size: small;
}
.weekend {
    width: 100%;
    background: #4D5874;
    color: white;
    text-align: center;
    font-size: small;
}

.day-item-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #4D5874;
    padding-top: 0.9em;
    padding-bottom: 1.2em;
    font-weight: bold;
    font-size: small;
}

.day-item-title .day-item-select {
    cursor: pointer;
    border-bottom: 1px solid #4D5874;
    padding: 10px 10px 10px 10px;
}

.day-item-title .day-item-select:hover {
    background: #FBFBD4;
    border-top: 1px solid #4D5874;
    border-bottom: none;
}

.day-item-title-header {
    display: flex;
}

.day-item-info-list {
    height: 100%;
    width: 100%;
}

.day-item-info {
    padding: 5px 0 5px 0;
    width: 100%;
}

.day-item-detail {
    display: flex;
    padding: 5px 0 5px 0;
    color: #4D5874;
    width: 100%;
}
.day-item-detail span {
    padding-top: 2px;
    padding-left: 10px;
}
.day-item-action {
    padding: 5px 0 5px 0;
}