<div class="day-container">
    <div class="day-item-title">
        <div>{{ day.date | date:'EEEE' }}</div>
        <div class="day-item-title-header">
            <div class="day-item-select" (click)="navigateToMonth()">
                {{ day.date | date:'d MMMM' }}
            </div>
            <div class="day-item-select" (click)="navigateToYear()">{{ day.date | date:'yyyy' }}</div>
        </div>
    </div>
    <div class="day-item-info" *ngIf="day.isWeekend" [class.weekend]="day.isWeekend">
        Week-end
    </div>
    <div class="day-item-info" *ngIf="day.isToday" [class.today]="day.isToday">
        Today
    </div>
    <div class="day-item-info-list">
        <div class="day-item-detail" *ngFor="let dayItem of day.dayItems">
            <img *ngIf="dayItem.isContact()" src="../../../assets/images/birthday-cake-with-candle.svg" height="20" width="20" />
            <img *ngIf="dayItem.isLine()" src="../../../assets/images/newspaper.svg" height="20" width="20" />
            <span>{{dayItem.item}}</span>
        </div>
    </div>
    <div class="day-item-action">
        <kal-button-action [image]="'../../../assets/images/edit.svg'" (click)="showModal()"></kal-button-action>
    </div>
    <day-modal [blocking]=false></day-modal>
</div>