<kal-panel-form [subTitle]="title">
    <form (ngSubmit)="addHoliday()" [formGroup]="formGroup" #addContactForm="ngForm">
        <div class="row-container">
            <label class="labelFor">Au</label>
            <label> {{ contactHoliday.date | date: 'EEEE dd MMMM yyyy' }}</label>
        </div>
        <div class="row-container">
            <label class="labelFor" for="inputDescription">Description</label>
            <input formControlName="description" name="description" id="inputDescription"/>
        </div>
    </form>
    <div class="panel-action">
        <kal-action [image]="'fa-save'" (click)="addHoliday()"></kal-action>
        <kal-action [image]="'fa-trash-o'" (click)="deleteHoliday()"></kal-action>
    </div>
</kal-panel-form>
