.timeline-view-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: stretch;*/
    width: 97%;
    height: 100%;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
}

.one-timeline-container {
    margin-bottom: 1em;
}

.principal-container {
    height: 100%;
    width: 50%;
}
