<div class="view-container flex-direction-column">
    <objective-list class="objective-list-item" [objectives]="objectives"></objective-list>
    <div class="right-container">

        <!--https://codepen.io/daveknispel/pen/PzOPVo-->
        <div class="cd-horizontal-timeline">
            <div class="timdddeline">
                <div class="events-wrapper">
                    <div class="timeline">
                        <ol>
                            <li><div>1</div></li>
                            <li><div>2</div></li>
                            <li><div>3</div></li>
                            <li><div>4</div></li>
                            <li><div>5</div></li>
                            <li><div>6</div></li>
                            <li><div>7</div></li>
                            <li><div>8</div></li>
                            <li><div>9</div></li>
                            <li><div>10</div></li>
                            <li><div>11</div></li>
                            <li><div>12</div></li>
                            <li><div>13</div></li>
                            <li><div>14</div></li>
                            <li><div>15</div></li>
                            <li><div>16</div></li>
                            <li><div>17</div></li>
                            <li><div>18</div></li>
                            <li><div>19</div></li>
                            <li><div>20</div></li>
                            <li><div>21</div></li>
                            <li><div>22</div></li>
                            <li><div>23</div></li>
                            <li><div>24</div></li>
                            <li><div>25</div></li>
                            <li><div>26</div></li>
                            <li><div>27</div></li>
                            <li><div>28</div></li>
                            <li><div>29</div></li>
                            <li><div>30</div></li>
                            <li><div>31</div></li>
                        </ol>
                    </div>
                </div>


                <!--<li><a href="#0" data-date="01/01/2018">1</a></li>-->
                <!--<li><a href="#0" data-date="02/01/2018">2</a></li>-->
                <!--<li><a href="#0" data-date="03/01/2018">3</a></li>-->
                <!--<li><a href="#0" data-date="04/01/2018">4</a></li>-->
                <!--<li><a href="#0" data-date="05/01/2018">5</a></li>-->
                <!--<li><a href="#0" data-date="06/01/2018">6</a></li>-->
                <!--<li><a href="#0" data-date="07/01/2018">7</a></li>-->
                <!--<li><a href="#0" data-date="08/01/2018">8</a></li>-->
                <!--<li><a href="#0" data-date="09/01/2018">9</a></li>-->
                <!--<li><a href="#0" data-date="10/01/2018">10</a></li>-->
                <!--<li><a href="#0" data-date="11/01/2018">11</a></li>-->
                <!--<li><a href="#0" data-date="12/01/2018">12</a></li>-->
                <!--<li><a href="#0" data-date="13/01/2018">13</a></li>-->
                <!--<li><a href="#0" data-date="14/01/2018">14</a></li>-->
                <!--<li><a href="#0" data-date="15/01/2018">15</a></li>-->
                <!--<li><a href="#0" data-date="16/01/2018">16</a></li>-->
                <!--<li><a href="#0" data-date="17/01/2018">17</a></li>-->
                <!--<li><a href="#0" data-date="18/01/2018">18</a></li>-->
                <!--<li><a href="#0" data-date="19/01/2018">19</a></li>-->
                <!--<li><a href="#0" data-date="20/01/2018">20</a></li>-->
                <!--<li><a href="#0" data-date="21/01/2018">21</a></li>-->
                <!--<li><a href="#0" data-date="22/01/2018">22</a></li>-->
                <!--<li><a href="#0" data-date="23/01/2018">23</a></li>-->
                <!--<li><a href="#0" data-date="24/01/2018">24</a></li>-->
                <!--<li><a href="#0" data-date="25/01/2018">25</a></li>-->
                <!--<li><a href="#0" data-date="26/01/2018">26</a></li>-->
                <!--<li><a href="#0" data-date="27/01/2018">27</a></li>-->
                <!--<li><a href="#0" data-date="28/01/2018">28</a></li>-->
                <!--<li><a href="#0" data-date="29/01/2018">29</a></li>-->
                <!--<li><a href="#0" data-date="30/01/2018">30</a></li>-->
                <!--<li><a href="#0" data-date="31/01/2018">31</a></li>-->



                <!--<ul class="cd-timeline-navigation">-->
                    <!--<li><a href="#0" class="prev inactive">Prev</a></li>-->
                    <!--<li><a href="#0" class="next">Next</a></li>-->
                <!--</ul>-->
            </div>
            <!--<div class="events-content">-->
                <!--bla bla-->
            <!--</div>-->
        </div>
    </div>
</div>
