<div class="line-form-container">
    <form class="form-container" (ngSubmit)="addLine()" [formGroup]="lineFormGroup" #addLineForm="ngForm">
        <div class="line-row">
            <label for="inputDescription">Description</label>
            <input type="text" formControlName="description" name="description" id="inputDescription"/>
        </div>
        <div class="line-row">
            <label for="inputKalendarDate">KalendarDate</label>
            <input type="text" formControlName="kalendarDate" name="kalendarDate" id="inputKalendarDate"/>
        </div>

        <div class="action-row">
            <img class="menu" [src]="'../../../assets/images/save_white.svg'" height="30" width="30"
                 (click)="addLine()"/>
            <img class="menu" [src]="'../../../assets/images/delete_white.svg'" height="30" width="30"
                 (click)="deleteLine()"/>
        </div>
        <!--<button class="btn btn-primary"  name="submmitButton" id="submmitButton">Save</button>
        <button class="btn btn-primary"  (click)="deleteLine()">Delete</button>-->
    </form>
</div>
