<div class="line-form-container">
    <form class="form-container" (ngSubmit)="addLine()" [formGroup]="lineFormGroup" #addLineForm="ngForm">
        <div class="line-row">
            <label for="inputDescription">Description</label>
            <input type="text" formControlName="description" name="description" id="inputDescription"/>
        </div>
        <div class="line-row">
            <label for="inputKalendarDate">KalendarDate</label>
            <input type="text" formControlName="kalendarDate" name="kalendarDate" id="inputKalendarDate"/>
        </div>

        <div class="action-row">
            <kal-button [image]="'../../../assets/images/save_white.svg'" (click)="addLine()"></kal-button>
            <kal-button [image]="'../../../assets/images/delete_white.svg'" (click)="deleteLine()"></kal-button>
        </div>
        <!--<button class="btn btn-primary"  name="submmitButton" id="submmitButton">Save</button>
        <button class="btn btn-primary"  (click)="deleteLine()">Delete</button>-->
    </form>
</div>
