<navig-panel [navigation]="navigation"
             (navigateClick)="navigate($event)">
    <day-in-one-week *ngFor="let day of week.days" class="content-item" [day]="day"
                     (navigateToMonthClick)="navigateToMonth($event)"
                     (navigateToYearClick)="navigateToYear($event)"
                     (showDayDetailClick)="showDayDetail(day)">

        <week-image class="polaroid-container" *ngIf="day.isDisabled"
                    [day]="day"
                    (showImageClick)="showDayDetail(day)"></week-image>

    </day-in-one-week>
</navig-panel>
