<navig-panel [navigation]="navigation"
             (navigateClick)="navigate($event)">
    <day-in-one-week *ngFor="let day of week.days" class="content-item" [day]="day"
                     (navigateToMonthClick)="navigateToMonth($event)"
                     (navigateToYearClick)="navigateToYear($event)"
                     (showDayDetailClick)="showDayDetail(day)">

        <week-image class="polaroid-container" *ngIf="day.isDisabled"
                    [date]="day.date"
                    [directory]="directory"
                    [label]="'Elsa'"
                    [defaultImage]="'../../../assets/images/photo/IMG_elsa.jpg'"></week-image>

    </day-in-one-week>
</navig-panel>
