.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
    padding: 25px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
    margin: 0;
    flex: 1;
}

.action-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin: 0;
    flex: 1;
}

input {
    height: 30px;
    background-color: #e0dada;
    border: none;
    margin-bottom: 10px;
    flex: 1;
    margin-left: 10px;
}

img {
    padding: 10px;
    margin: 10px;
}

img.menu {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 8px 16px -5px black;
    background: grey;
}

img.menu:hover {
    background: black;
}
