<div class="contact-form-container">
    <form class="form-container" (ngSubmit)="addContact()" [formGroup]="contactFormGroup" #addContactForm="ngForm">
        <div class="contact-row">
            <label for="inputFirstname">Firstname</label>
            <input type="text" formControlName="firstname" name="firstname" id="inputFirstname"/>
        </div>
        <div class="contact-row">
            <label for="inputLastname">Lastname</label>
            <input type="text" formControlName="lastname" name="lastname" id="inputLastname"/>
        </div>
        <div class="contact-row">
            <label for="inputBirthdate">Birthdate</label>
            <input type="text" formControlName="birthdate" name="birthdate" id="inputBirthdate"/>
        </div>

        <div class="action-row">
            <svg-save (click)="addContact()"></svg-save>
            <svg-delete (click)="deleteContact()"></svg-delete>
        </div>
        <!--<button class="btn btn-primary"  name="submmitButton" id="submmitButton">Save</button>
        <button class="btn btn-primary"  (click)="deleteContact()">Delete</button>-->
    </form>
</div>
