<kal-panel-form [subTitle]="title">
    <form (ngSubmit)="addContact()" [formGroup]="contactFormGroup" #addContactForm="ngForm">
        <div class="row-container">
            <label class="labelFor" for="inputFirstname">Firstname</label>
            <input type="text" formControlName="firstname" name="firstname" id="inputFirstname"/>
        </div>
        <div class="row-container">
            <label class="labelFor" for="inputLastname">Lastname</label>
            <input type="text" formControlName="lastname" name="lastname" id="inputLastname"/>
        </div>
        <div class="row-container" *ngIf="!fillYear">
            <label class="labelFor" for="inputBirthdate">Birthdate</label>
            <input type="text" formControlName="birthdate" name="birthdate" id="inputBirthdate"/>
        </div>
        <div class="row-container" *ngIf="fillYear">
            <label class="labelFor" for="inputYear">Year</label>
            {{this.dateUtilService.stringToDayAndLongMonth(this.contact.birthdate)}}
            <input type="text" formControlName="year" name="year" id="inputYear"/>
        </div>
    </form>
    <div class="panel-action">
        <kal-action [image]="'fa-save'" (click)="addContact()"></kal-action>
        <kal-action [image]="'fa-trash-o'" (click)="deleteContact()"></kal-action>
    </div>
</kal-panel-form>


