/*
---------------------------------------------------------------------------------------
https://codepen.io/esjay/pen/nkhFe?editors=0100 - police
http://codepen.io/matt-west/pen/wbpqu		    - date input
http://codepen.io/arkev/pen/EDeuG		        - layout body background +-black
http://codepen.io/pattmorter/pen/JeIFD		    - layout body background +-black + color
http://codepen.io/berdejitendra/pen/KxmvD 	    - Login layout black background
---------------------------------------------------------------------------------------
*/
svg {
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: #4D5874;
    border: 1px solid #4D5874;
    border-radius: 25px;
    background: #FBFBD4;
    box-shadow: 0 8px 16px -5px #4D5874;
}

svg path {
    fill: #4D5874;
}

svg:hover {
    background: none;
}

svg:hover path {
    fill: red;
}
