.view-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    height: 100%;
    padding: 1em;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
    margin: 0;
    flex: 1;
}

.labelFor {
    color: red;
    letter-spacing: 0.1em;
    padding-bottom: 0.5em;
}

input {
    border-radius: 5px;
    background: #333333;
    padding: 0.5em 2em 0.5em 2em;
    margin-bottom: 10px;
    font-size: medium;
    border: none;
    color: #929999;
    box-shadow: inset 0 1px 5px #272727;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

input:focus {
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    box-shadow: 0 0 5px 1px #161718;
}
