@import '~font-awesome/css/font-awesome.css';

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('assets/fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('assets/fonts/SourceSansPro-Light.ttf');
    font-weight: 100;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 100%;
    color: var(--color-blue-0);
}

body {
    /** https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/458169.jpg */
    /** actions menu : https://codepen.io/fixcl/pen/ONeOdL */
    /*
    background: linear-gradient(100deg, #53738c 15%, #fff 35%, #8c464a 90%) 0 0;
    linear-gradient(100deg, #4e608c 0%, #f3aab6 15%, #faffee 30%, #4e608c 50%, #f3aab6 70%, #faffee 85%, #4e608c 100%) 0 0;
    */
    font-size: 0.85em;
    background: linear-gradient(150deg, #4D5874 0%, #AD6B6B 10%, #FBFBD4 40%, #4D5874 90%, #AD6B6B 100%) 0 0;
    background-color: #fff;
    background-position: center;

    overflow: hidden;
}

:root {
    --color-blue-0: rgba( 77, 88,116,1); /* #4D5874 */
    --color-blue-1: rgba(145,152,169,1); /* #9198A9 */
    --color-blue-2: rgba(106,116,140,1); /* #6A748C */
    --color-blue-3: rgba( 54, 65, 93,1); /* #36415D */
    --color-blue-4: rgba( 33, 45, 77,1); /* #212D4D */

    --rgba-red-0: rgba(173,107,107,1); /* #AD6B6B */
    --rgba-red-1: rgba(251,212,212,1); /* #FBD4D4 */
    --rgba-red-2: rgba(208,152,152,1); /* #D09898 */
    --rgba-red-3: rgba(138, 74, 74,1); /* #8A4A4A */
    --rgba-red-4: rgba(114, 41, 41,1); /* #722929 */

    --color-green-0: rgba(173,173,107,1); /* #ADAD6B */
    --color-green-1: rgba(251,251,212,1); /* #FBFBD4 */
    --color-green-2: rgba(208,208,152,1); /* #D0D098 */
    --color-green-3: rgba(138,138, 74,1); /* #8A8A4A */
    --color-green-4: rgba(114,114, 41,1); /* #727229 */
}

.today {
    background: var(--rgba-red-3);
    color: white;
}

.contact-holiday {
    background: var(--color-green-2);
    color: white;
}

.public-holiday {
    background: var(--color-green-3);
    color: white;
}

.weekend {
    background: var(--color-blue-3);
    color: white;
}

.error-message {
    color: var(--rgba-red-4);
}


/*
---------------------------------------------------------------------------------------
https://codepen.io/esjay/pen/nkhFe?editors=0100 - police
http://codepen.io/matt-west/pen/wbpqu		    - date input
http://codepen.io/arkev/pen/EDeuG		        - layout body background +-black
http://codepen.io/pattmorter/pen/JeIFD		    - layout body background +-black + color
http://codepen.io/berdejitendra/pen/KxmvD 	    - Login layout black background
---------------------------------------------------------------------------------------
*/
