<div class="day-container" [class.weekend]="day.isWeekend" [class.day-selected]="day.isSelected"
     (click)="navigateToDay()">
    <div class="group-container">
        <div class="day-item-title">
            <div>{{ firstCharToUpperCase(day.date | date:'EEEE') }}</div>
            <div class="day-item-title-header">
                <div>
                    {{ day.date | date:'d' }}
                </div>
                <div class="day-item-select" (click)="navigateToMonth()">
                    {{ day.date | date:'MMMM' }}
                </div>
                <div class="day-item-select" (click)="navigateToYear()">
                    {{ day.date | date:'yyyy' }}
                </div>
            </div>
        </div>
        <div class="day-item-detail-list">
            <div class="day-item-detail" *ngFor="let dayItem of day.dayItems">
                <div class="label-item">
                    <i *ngIf="dayItem.isContact()" class="fa fa-birthday-cake fa-border"></i>
                    <i *ngIf="dayItem.isMemo()" class="fa fa-newspaper-o fa-border"></i>
                    <span>{{ dayItem.principalItem + (dayItem.additionalItem ? ' ' + dayItem.additionalItem : '') }}</span>
                </div>
                <div *ngIf="day.isSelected">
                    <edit-action [tooltip]="'Modifier un contact'" *ngIf="dayItem.isContact()"
                                 [image]="'fa-user'" (click)="editDayItem(dayItem)"></edit-action>
                    <edit-action [tooltip]="'Modifier un événement'" *ngIf="dayItem.isMemo()"
                                 [image]="'fa-newspaper-o'" (click)="editDayItem(dayItem)"></edit-action>
                </div>
            </div>
        </div>
        <div *ngIf="day.isSelected" class="day-item-detail">
            <div></div>
            <div>
                <plus-action [tooltip]="'Ajouter un contact'"
                             [image]="'fa-user'" (click)="addDayItemContact()"></plus-action>
                <plus-action [tooltip]="'Ajouter un événement'"
                             [image]="'fa-newspaper-o'" (click)="addDayItemMemo()"></plus-action>
                <plus-action [tooltip]="'Ajouter un jour de congé'"
                             [image]="'fa-sun-o'" (click)="addDayItemContactHoliday()"></plus-action>
            </div>
        </div>
    </div>
    <div class="group-container margin-bottom">
        <div class="day-item-detail contact-holiday" *ngFor="let dayContactHolidayItem of day.dayContactHolidayItems">
            <div class="day-item-info">
                {{ dayContactHolidayItem.principalItem }}
            </div>
            <div *ngIf="day.isSelected">
                <edit-action [tooltip]="'Modifier un jour de congé'"
                             [image]="'fa-sun-o'" (click)="editDayItem(dayContactHolidayItem)"></edit-action>
            </div>
        </div>
        <div class="day-item-detail" *ngIf="day.isSelected">
            <div></div>
            <plus-action *ngIf="!day.dayPublicHolidayItem"
                         [tooltip]="'Ajouter un jour férié'"
                         [image]="'fa-flag'" (click)="addDayItemPublicHoliday()"></plus-action>
        </div>
        <div class="day-item-detail public-holiday" *ngIf="day.dayPublicHolidayItem">
            <div class="day-item-info">
                {{ day.dayPublicHolidayItem.principalItem }}
            </div>
            <div *ngIf="day.isSelected">
                <edit-action [tooltip]="'Modifier un jour férié'"
                             [image]="'fa-flag'" (click)="editDayItem(day.dayPublicHolidayItem)"></edit-action>
            </div>
        </div>
        <div class="day-item-info" *ngIf="day.isToday" [class.today]="day.isToday">
            Today
        </div>
    </div>
</div>
