.day-in-carousel-days-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;

    width: 87%;
    height: 95%;
    cursor: pointer;
}

.day-selected {
    cursor: default;
}

.group-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.day-item-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-weight: bold;
}

.day-item-title .day-item-select {
    cursor: pointer;
    border-bottom: 1px solid #4D5874;
    padding: 10px 10px 10px 10px;
}

.day-item-title .day-item-select:hover {
    background: #FBFBD4;
    border-top: 1px solid #4D5874;
    border-bottom: none;
}

.day-item-title-header {
    display: flex;
    align-items: center;
}

.day-item-detail-list {
    width: 100%;
}

.day-item-detail {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 100%;
    padding-top: 0.1em;
}

.label-item {
    padding-top: 0.3em;
}

.day-item-detail-action {
    align-content: flex-end;
}

.margin-bottom {
    margin-bottom: 12px;
}

.day-item-info {
    padding: 5px 0 5px 0;
    width: 100%;
}

.core-info {
    margin-top: 2px;
    text-align: center;
    border-radius: 1em;
}
