.day-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: left;
    width: 90%;
    height: 100%;
    padding: 0.4em 0.7em 0 0.7em;
    background-color: #fff;
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
    font-size: small;
    cursor: pointer;
}

.day-disabled {
    background-color: lightgray;
    background-image: none;
}

.day-disabled .day-item-title {
    background-color: lightgray;
    color: #4D5874;
    border: none;
}

.day-item-title.today {
    background: #AD6B6B;
    color: #FBFBD4;
}

.day-item-title.weekend {
    background: #4D5874;
    color: #FBFBD4;
}

.day-item-title {
    border: 1px solid #9198A9;
    background: white;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    color: #4D5874;
    font-weight: bold;
    border-radius: 5px;
    padding-right: 15px;
}

.day-item-detail {
    display: flex;
    padding: 5px 0 5px 0;
    color: #4D5874;
    width: 100%;
}

.day-item-detail span {
    padding-top: 2px;
    padding-left: 10px;
    font-size: small;
}

/*
.day {
    text-align: right;
    font-weight: bolder;
    border-radius: 25px;
    box-shadow: 0 8px 16px -5px black;
    padding-right: 15px;
    margin: 15px 10px 0 10px;
    background: rgb(214, 214, 194);
}

.today {
    background: #AD6B6B;
    color: #FBFBD4;
}

.weekend {
    background: #4D5874;
    color: #FBFBD4;
}



.day-content {
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid gray;
    box-shadow: 0 8px 16px -5px black;
}

.day-content:hover {
    background: #aaa;
}

.day-selected {
    background: rgb(184, 148, 148);
    box-shadow: inset 0 8px 16px -5px black;
}

.day-disabled {
    background-color: lightgray;
    box-shadow: none;
}

.day-disabled .day {
    background-color: lightgray;
    box-shadow: 0 8px 16px -5px black;
}
*/
