<div class="day-container" [class.day-selected]="day.isSelected" [class.day-disabled]="day.isDisabled">
    <div class="day-item-title" [class.weekend]="day.isWeekend" [class.today]="day.isToday">
        <div>{{ day.day }}</div>
    </div>
    <div class="day-item-info-list">
        <div class="day-item-detail" *ngFor="let dayItem of day.dayItems">
            <img *ngIf="dayItem.isContact()" src="../../../assets/images/birthday-cake-with-candle.svg" height="15" width="15" />
            <img *ngIf="dayItem.isLine()" src="../../../assets/images/newspaper.svg" height="15" width="15" />
            <span>{{dayItem.item}}</span>
        </div>
    </div>
</div>
