.day-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: left;
    width: 90%;
    height: 100%;
    background-color: #fff;
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    cursor: pointer;
}

.day-disabled {
    background-image: none;
}

.day-disabled .day-item-title {
    background-color: lightgray;
    color: #4D5874;
    border: none;
}

.day-item-title.today {
    background: #AD6B6B;
    color: #FBFBD4;
}

.day-item-title.weekend {
    background: #4D5874;
    color: #FBFBD4;
}

.day-selected {
    background-color: rgba(251,251,212,1);
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    box-shadow: inset 0 8px 16px -5px black;
}

.day-item-title {
    border: 1px solid #9198A9;
    background: white;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    color: #4D5874;
    font-weight: bold;
    border-radius: 5px;
    padding-right: 15px;
}

.day-item-detail {
    display: flex;
    padding: 0 0 0 0;
    color: #4D5874;
    width: 100%;
}

.day-item-detail span {
    padding-top: 2px;
    padding-left: 10px;
}

.day-item-info-list {
    width: 100%;
}
.day-item-info-detail {
    border: 1px solid #9198A9;
    background: #9198A9;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    border-radius: 5px;
}
