.day-in-month-container {
    width: 87%;
    height: 95%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em 0 1em;

    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
}

.day-disabled {
    opacity: 0.5;
}

.day-selected {
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.day-item-title {
    border: 1px solid #9198A9;
    margin-top: 0.5em;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-weight: bold;
    border-radius: 5px;
    padding-right: 15px;
}

.day-item-detail {
    display: flex;
    padding: 0 0 0 0;
    width: 100%;
}

.day-item-detail span {
    padding-top: 2px;
    padding-left: 10px;
}

.day-item-info-list {
    width: 100%;
}
.day-item-info-detail {
    border: 1px solid #9198A9;
    align-content: center;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}
