<kal-panel-form [subTitle]="title">
    <form class="form-container" (ngSubmit)="addCatchAll()" [formGroup]="catchAllFormGroup" #addContactForm="ngForm">
        <div class="contact-row">
            <label class="labelFor" for="inputTagCase">TagCase</label>
            <input type="text" formControlName="tagCase" name="tagCase" id="inputTagCase"/>
        </div>
        <div class="contact-row">
            <label class="labelFor" for="inputTagCaseType">TagCaseType</label>
            <input type="text" formControlName="tagCaseType" name="tagCaseType" id="inputTagCaseType"/>
        </div>
        <div class="contact-row">
            <label class="labelFor" for="inputDescription">TagCaseType</label>
            <input type="text" formControlName="description" name="description" id="inputDescription"/>
        </div>
<!--
        <div class="contact-row">
            <label class="labelFor" for="inputDeadline">Deadline</label>
            <input type="text" formControlName="deadline" name="deadline" id="inputDeadline"/>
        </div>
-->
    </form>
    <div class="panel-action">
        <kal-action [image]="'fa-save'" (click)="addCatchAll()"></kal-action>
        <kal-action [image]="'fa-trash-o'" (click)="deleteCatchAll()"></kal-action>
    </div>
</kal-panel-form>


