.line-form-container {
    display: flex;
    flex-direction: column;
    background-color: #555555;
    box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 2em 1em 2em;
    border-radius: 0.3em;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.line-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
    margin: 0;
    flex: 1;
}

.action-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin: 0;
    flex: 1;
}

