<div class="line-form-container">
    <form class="form-container" (ngSubmit)="saveLine()" [formGroup]="lineCriteriaFormGroup" #addLineForm="ngForm">
        <div class="line-row">
            <label for="inputDescription">Description</label>
            <input formControlName="description" name="description" id="inputDescription"/>
        </div>
        <div class="line-row">
            <label for="inputDuplication">Dupliquer</label>
            <input formControlName="duplication" name="duplication" id="inputDuplication"/>
            <label for="inputIncludeWeekend">Week-end inclus : </label>
            non<input type="radio" formControlName="includeWeekend" name="includeWeekend" id="inputIncludeWeekend" [value]="false"/>
            oui<input type="radio" formControlName="includeWeekend" name="includeWeekend" [value]="true"/>
        </div>
        <!--
        <div class="line-row">
            <label for="inputKalendarDate">KalendarDate</label>
            <input type="text" formControlName="kalendarDate" name="kalendarDate" id="inputKalendarDate"/>
        </div>
        -->
        <div class="action-row">
            <svg-save (click)="saveLine()"></svg-save>
            <svg-delete (click)="deleteLine()"></svg-delete>
        </div>
        <!--
        <button class="btn btn-primary"  name="submmitButton" id="submmitButton">Save</button>
        <button class="btn btn-primary"  (click)="deleteLine()">Delete</button>
        -->
    </form>
</div>
