/*
---------------------------------------------------------------------------------------
https://codepen.io/esjay/pen/nkhFe?editors=0100 - police
http://codepen.io/matt-west/pen/wbpqu		    - date input
http://codepen.io/arkev/pen/EDeuG		        - layout body background +-black
http://codepen.io/pattmorter/pen/JeIFD		    - layout body background +-black + color
http://codepen.io/berdejitendra/pen/KxmvD 	    - Login layout black background
---------------------------------------------------------------------------------------
*/

i {
    
    /*padding: 0.5em 0.0em 0.1em 0.7em;*/
    /*padding: 0.5em 0 0 0.5em;*/
    text-align: center;
    padding: 0.3em;
    height: 1em;
    width: 1em;
    background: rgba(253, 95, 0, 1);
    border: 0.3em solid #222526;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 8px 16px -5px #222526;
    color: white;
}

i:hover {
    background:#222526;
    border-color:rgba(253, 95, 0, 1);
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
    color: rgba(253, 95, 0, 1);
}
